h4{
    display: flex;
    justify-content: center;
    font-size: 24px;
}

p{
    display: flex;
    font-style: bold;
    justify-content: center;
}

.readMe{
    border: 2px solid black;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    padding: 0 40px 20px 40px;
    margin-top: 40px;
}