body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20%;
  background-color: darkslategray;
}

header{
  display: flex;
  justify-content: center;
  align-content: flex-start;
  color: white;
}

h3{
  display: flex;
  justify-content: center;
  color: white;
}